<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labadenquet Ouebservice</title>

    
    <script>
    // Fonction pour récupérer les données de l'API
        function getData() {
          // Créer une requête HTTP
          var xhr = new XMLHttpRequest();
          // Ouvrir la requête avec la méthode GET et l'URL de l'API
          xhr.open("GET", "https://www.api-couleur-tempo.fr/api/jourTempo/today");
          // Définir le type de réponse attendu en JSON
          xhr.responseType = "json";
          // Envoyer la requête
          xhr.send();
          // Quand la requête est terminée
          xhr.onload = function() {
            // Si le statut de la réponse est 200 (succès)
            if (xhr.status == 200) {
              // Récupérer la réponse en JSON
              var data = xhr.response;
              // Afficher les données dans le champ div
              document.getElementById("data").innerHTML = JSON.stringify(data, null, 2);
            } else {
              // Sinon, afficher une erreur
              document.getElementById("data").innerHTML = "Erreur: " + xhr.status;
            }
          };
        }


        // Fonction pour mettre à jour la valeur de la variable
        function mettreAJourVariable(variableValue) {
            document.getElementById('variableValeur').innerText = 'Variable actuelle : ' + variableValue;
        }

        // Fonction pour consulter la variable lors du chargement de la page
        window.onload = function() {
            getData();
            fetch('/consulter_variable')
                .then(response => response.json())
                .then(data => mettreAJourVariable(data.variable));
        };

        // Vous pouvez également ajouter une mise à jour périodique si nécessaire
        // setInterval(function() {
        //     fetch('/consulter_variable')
        //         .then(response => response.json())
        //         .then(data => mettreAJourVariable(data.variable));
        // }, 5000); // Mise à jour toutes les 5 secondes (exemple)
    </script>
</head>
<body>
    <h1>Mode</h1>
    <form action="/modifier_variable" method="post">
        <button type="submit" name="bouton" value="off">Off</button>
        <button type="submit" name="bouton" value="solaire">Solaire</button>
        <button type="submit" name="bouton" value="hc">HC</button>
        <button type="submit" name="bouton" value="on">On</button>
    </form>
    <p id="variableValeur">Mode actif : En attente de la valeur...</p>
    <div id="data"></div>
</body>
</html>
