<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labadenquet Ouebservice</title>
</head>
<body>
    <h1>Mode/h1>
    <form action="/modifier_variable" method="post">
        <button type="submit" name="bouton" value="off">Off</button>
        <button type="submit" name="bouton" value="solaire">On</button>
        <button type="submit" name="bouton" value="hc">On</button>
        <button type="submit" name="bouton" value="on">On</button>
    </form>
    <p id="variableValeur">Variable actuelle : En attente de la valeur...</p>

    <script>
        // Fonction pour mettre à jour la valeur de la variable
        function mettreAJourVariable(variableValue) {
            document.getElementById('variableValeur').innerText = 'Variable actuelle : ' + variableValue;
        }

        // Fonction pour consulter la variable lors du chargement de la page
        window.onload = function() {
            fetch('/consulter_variable')
                .then(response => response.json())
                .then(data => mettreAJourVariable(data.variable));
        };

        // Vous pouvez également ajouter une mise à jour périodique si nécessaire
        // setInterval(function() {
        //     fetch('/consulter_variable')
        //         .then(response => response.json())
        //         .then(data => mettreAJourVariable(data.variable));
        // }, 5000); // Mise à jour toutes les 5 secondes (exemple)
    </script>
</body>
</html>
